# osx noise
.DS_Store
profile

#Administrative Documents
*.docx
*.xlsx
*.xls

# Development and Testing
o*.xls
o*.xml
o*.xlsx


# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
